<div class="divTituloPrimario">
    <h2 class="tituloPrimario">CONTACTO</h2>
    <div class="infoPersonal">
        <table class="tabla">
            <td>
                <div class="row d-flex justify-content-center">
                <tr>
                    <div class="container-fluid" id="background-head">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Email</label>
                        <input type="email" name="" id="exampleFormControlInput1" placeholder="name@example.com" class="form-control">
                        <br>
                        <label for="exampleFormControlInput2" class="form-label" >Mensaje</label>
                        <textarea  name="" id="exampleFormControlInput2" placeholder="Escribe tu mensaje" class="form-control"></textarea>
                        <br>
                   <button class="btn btn-primary">Aceptar</button>
                    </div>
                    </div>
                </tr>
                </div>
            </td>
        </table>

    </div>
</div>