<div class="divTituloPrimario">
<h2 class="tituloPrimario"> {{titulo}}</h2>
<div class="infoPersonal">
    <table class="tabla">
        <tr>
            <td>
                <div class="subtitulo">
                DATOS PERSONALES
                </div>
                <br>
                <img src="https://scontent.fcor11-2.fna.fbcdn.net/v/t39.30808-6/274673089_10160085261594083_7191542140850485633_n.jpg?_nc_cat=108&ccb=1-6&_nc_sid=09cbfe&_nc_eui2=AeEXTZygngWP1SGF_m9y3AfKInNUFJesshYic1QUl6yyFsOV3L8P98zfKLTYDyWQbVLR3FLb4NKwMwCZMvHbDTL4&_nc_ohc=_8RtVGO09KsAX_i05-X&_nc_ht=scontent.fcor11-2.fna&oh=00_AT8Rc89XST5jnwqi9TTOS6wZP4FCx_FULGKB2CKXdXXjDQ&oe=627E0CAF" class="img-fluid imagen">
                <br>
                <br>
                <p class="info">
                    
                    Apellido: {{apellido}}
                    <br>
                    Nombre: {{nombre}}
                    <br>
                    Fecha de Nacimiento: {{fechaNac}}
                    <br>
                    Ciudad: {{ciudad}}
                    <br>
                    Teléfono: {{telefono}}
                    <br>
                    Email: {{mail}}
                    <br>
                    
                </p>
                <div class="subtitulo">
                    EDUCACIÓN
                    </div>
                    <p class="info">

                    </p>
                    <div class="subtitulo">
                        EXPERIENCIA
                        </div>
                        <p class="info">
                            
                        </p>
                        <div class="subtitulo">
                            SKILLS
                            </div>
                            <p class="info">
                                
                            </p>
            </td>
        </tr>
    </table>
</div>
</div>
