.tituloPrimario{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.divTituloPrimario{
    width: 100%;
    background-color:black;
    border: solid;
    border-radius: 10px;
    line-height: 100%;
    text-align: center;

}
.tabla{
    width: 100%;
    text-align: center;
}
.infoPersonal{
    background-color: white;
    width: 100%;
}
.subtitulo{
    background-color: gray;
    color: white;
}