<div class="divTituloPrimario">
    <h2 class="tituloPrimario">LOGIN</h2>
    <div class="infoPersonal">
        <table class="tabla">
            <td>
                <div class="row d-flex justify-content-center">
                <tr>
                    <div class="container-fluid" id="background-head">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Email</label>
                        <input type="email" id="exampleFormControlInput1" placeholder="name@example.com" class="form-control" name="" >
                        <br>
                        <label for="exampleFormControlInput2" class="form-label">Password</label>
                        <input type="password" id="exampleFormControlInput2" placeholder="Tipee su clave" class="form-control" name="" >
                    </div>
                   <button class="btn btn-primary">Aceptar</button>
                    </div>
                    <br>
                </tr>
            </div>
            </td>
        </table>

    </div>
</div>