<div class="divTituloPrimario">
    <h2 class="tituloPrimario"> {{titulo}}</h2>
    <div class="infoPersonal">
        <table class="tabla">
            <tr>
                <td>
                    <div class="subtitulo">
                    DATOS DE SITIOS
                    </div>
                    <p class="info">
                        Nombre Proyecto: {{nombre}}
                        <br>
                        URL: {{url}}
                        <br>                        
                    </p>
                </td>
            </tr>
        </table>
    </div>
</div>